<div id="cheeses-page">
  <h1>Cheeses</h1>
    <ul>
        <% @cheeses.each do |cheese| %>
            <li>
                <img class="cheese-image" src="<%= asset_path "#{cheese.name.parameterize}.webp" %>" />
                <div class="cheese-details">
                    <h2><%= cheese.name %></h2>
                    <p><%= cheese.description %></p>
                    <span class="cheese-type"><%= cheese.category %></span>
                </div>
            </li>
        <% end %>
    </ul>
</div>