<div id="landing-page">
  <div id="title">
    <h1 id="title-name">Cheese Catalog</h1>
    <p id="title-description">
      Did you know the oldest known cheese was over 3,200 years old? It was found in an Egyptian tomb. From ancient wheels to modern marvels, dive into a world of Brie-lliant textures, Gouda stories, and cheesy personalities.
    </p>
  </div>
  <div class="button-container">
    <a href="/cheeses">
      <button type="button">
          GET STARTED
      </button>
    </a>
  </div>
  <img id="cheese-backdrop" src="<%= asset_path 'moon.webp' %>" alt="Cheese Background" />
</div>