<div id="landing-page">
  <h1>Cheeses</h1>
  <ul>
    <li>
        <a href="#">
            <button type="button">
                Cheeses
            </button>
        </a>
    </li>
    <li>
        <a href="#">
            <button type="button">
                Categories
            </button>
        </a>
    </li>
    <li>
        <a href="#">
            <button type="button">
                Menus
            </button>
        </a>
    </li>
  </ul>
</div>