<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "landing-page", media: "all" %>
<% end %>

<div id="landing-page">
  <div id="title">
    <h1 id="title-name">Cheese Catalog</h1>
    <p class="title-description">
      Did you know the oldest known cheese was over 3,200 years old? It was a solid, whitish cheese <a href="https://www.bbc.com/news/world-africa-45233347">discovered in 2018</a> within the 13th-century B.C. Egyptian tomb of Ptahmes in Saqqara.
    </p>
  </div>
  <div class="button-container">
    <a href="/cheeses">
      <button type="button">
          GET STARTED
      </button>
    </a>
  </div>
</div>