<div id="categories-page">
    <h1>Categories</h1>
    <ul id="categories-list">
        <li class="category">Soft</li>
        <li class="category">Hard</li>
        <li class="category">Blue</li>
        <li class="category">Processed</li>
        <li class="category">Fresh</li>
        <li class="category">Semi-soft</li>
        <li class="category">Semi-hard</li>
        <li class="category">Soft-ripened</li>
    </ul>
</div>