<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "categories-page", media: "all" %>
<% end %>

<div id="categories-page">
    <h1>Categories</h1>
    <ul id="categories-list">
        <% @categories.sort_by(&:name).each do |category| %>
        <li class="category">
            <h2 class="category-title"><%= category.name %></h2>
            <p class="category-description"><%= category.description %></p>
        </li>
        <% end %>
    </ul>
</div>