/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: custom;
  /* Propshaft logical path; file located in app/assets/fonts */
  src: url("/MouldyCheese.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  color: white;
  overflow-x: hidden;
  background-color: rgb(200, 0, 0);
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: custom, sans-serif;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  color: #fffb00;
  letter-spacing: 1px;
  padding: 0 20px;

  #logo {
    max-height: 3.2rem;
  }

  > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;

    > li {
      position: relative;

      &:hover {
        font-style: italic;
        text-decoration: underline;
      }
    }

    > .bullet {
      max-height: 25%;
    }
  }
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - 4rem);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  background-color: #fffb00;
  color: rgb(186, 0, 0);
  letter-spacing: 1px;
  min-width: 200px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 3px solid #924100;
  font-size: 1rem;
  font-family: custom;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  &:hover {
    opacity: 0.8;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal {
  position: relative;
  color: white;
  background-color: rgb(184, 0, 0);
  margin: 10% auto;
  padding: 2rem;
  width: clamp(245px, 80%, 480px);
  border-radius: 6px;
  border: 3px solid #0000008a;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .close-modal {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    color: #fffb00;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    select {
      color: white;
      padding: 0.6rem;
      border: none;
      border-radius: 6px;
      background-color: darkred;
    }

    input, textarea {
      color: white;
      padding: 0.5rem;
      border:none;
      border-radius: 6px;
      background-color: darkred;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 230, 0, 0.781);
      }
    }
  }
}
