/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: custom;
  /* Propshaft logical path; file located in app/assets/fonts */
  src: url("/MouldyCheese.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgb(194, 0, 0);
  background-image: linear-gradient(45deg, #d53333 0%, rgb(194, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: custom, sans-serif;
}

#landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

#cheese-backdrop {
  height: 70%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  font-style: oblique;
}

p {
  width: 100%;
  max-width: 75ch;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

button {
  background-color: #f3dd12;
  color: black;
  min-width: 200px;
  padding: 10px 19px;
  border: 1px solid black;
  border-radius: 6px;
  font-family: custom;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}


footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 10px 0;
  font-size: 0.8em;
  font-style: italic;
}