#categories-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: calc(100% - 4rem);
  height: 100%;
  padding: 1% 0 5% 0;

  h1 {
    width: 75%;
    color: white;
    text-align: left;
    font-size: 4.1rem;
    font-style: oblique;
    letter-spacing: -1px;
  }

  #categories-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    gap: 20px;
    width: 75%;

    .category {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0;
      color: white;
      font-style: italic;
      border-bottom: 15px dotted #860000;
    }

    .category-title {
      padding: 0;
      margin: 0;
      font-size: 3rem;
    }

    .category-description {
      max-width: 75ch;
      padding: 0;
      margin: 0 0 1rem 0;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}