#cheeses-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 1% 0 5% 0;

  h1 {
    width: 75%;
    color: white;
    text-align: left;
    font-size: 4.1rem;
    font-style: oblique;
    letter-spacing: -1px;
  }

  ul {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 75%;

    @media screen and (min-width: 1440px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (min-width: 1920px) {
      & {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    background-color: rgba(174, 0, 0, 0.3);
    border: 2px dashed rgba(0, 0, 0, 0.788);
    border-radius: 6px;

    &.add-cheese-item {
      justify-content: center;
    }

    h2 {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      color: white;
      font-size: 1rem;
      line-height: 1.5;
    }

    span {
      color: white;
      font-size: 0.875rem;
      font-style: italic;
    }

    img {
      width: 15%;
      aspect-ratio: 1 / 1;
    }
  }

  .cheese-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
  }
}
